[package]
name = "selinux-cascade"
version = "0.0.1"
description = "A High Level Language for specifying SELinux policy"
authors = ["Daniel Burgener <dburgener@linux.microsoft.com>", "Mickael Salaun <mic@linux.microsoft.com>"]
edition = "2018"
license = "MIT"
repository = "https://github.com/dburgener/cascade"
readme = "README.md"
keywords = [ "selinux" ]

[build-dependencies]
lalrpop = "0.19"

[dependencies]
codespan-reporting = "0.11"
lalrpop-util = "0.19"
regex = "1"
sexp = "1.1"
thiserror = "1.0"
